---
layout : default
title : "Blueblog - Fuck world!Fuck code!"
---

	<h1><a name="blueblog" class="anchor" href="#blueblog"><span class="octicon octicon-link"></span></a>blueblog</h1>
	<p>last update time:{{ site.time }}</p>
	
	<h3>All Blog</h3>
	<hr />
	
	<ul>
	{% for post in paginator.posts %}
		<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title}}</a><small>{{ post.date | date_to_string }}</small></li>
	{% endfor %}
	</ul>
	
	<!-- Pagination links -->
	{% if paginator.total_pages > 1 %}
	<div class="pagination">
	  {% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
	  {% else %}
		<span>&laquo; Prev</span>
	  {% endif %}

	  {% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		  <em>{{ page }}</em>
		{% elsif page == 1 %}
		  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
		{% else %}
		  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
		{% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
	  {% else %}
		<span>Next &raquo;</span>
	  {% endif %}
	</div>
	{% endif %}
	
	
	<h3>code</h3>
	<hr />
	<ul>
	{% for category in site.categories.code %}
		<li><a href="{{ site.baseurl}}{{ category.url }}">{{ category.title}}</a></li>
	{% endfor %}
	</ul>
	
      
     
