---
layout : default
title : "Blueblog - Fuck world!Fuck code!"
---

	<h1><a name="blueblog" class="anchor" href="#blueblog"><span class="octicon octicon-link"></span></a>blueblog</h1>
	<p>Just for fun!</p>
	<ul>
	{% for post in site.posts %}
		<li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title}}</a></li>
	{% endfor %}
	</ul>
	
	<ul>
	{% for category in site.categories.sites %}
		<li><a href="{{ site.baseurl}}{{ category.url }}">{{ category.title}}</a></li>
	{% endfor %}
	</ul>
      
     
